.spending-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
}

.spending-list-settings {
    padding: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;
    height: 40px;
    width: calc(100% - 32px);
}

.spending-list-sortBy {
    max-width: 450px;
    font-size: 1.2rem;
    height: 100%;
}